<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="192x192">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Shortr</title>
    <!-- Vue -->
    <!-- development version, optimized for debuging -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Shortr 🏠">
    <meta name="twitter:description" content="Short it! 🚀">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
    <!-- Open Graph -->
    <meta property="og:type" content="summary">
    <meta property="og:site_name" content="Shortr">
    <meta property="og:title" content="Shortr 🏠">
    <meta property="og:description" content="Short it! 🚀">
    <meta property="og:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
</head>
<body class="background center">
    <div class="container expanded">
        <object id="loading-logo" class="logo" data="/images/loading-logo.svg" type="image/svg+xml" alt="Shortr logo">
            <img class="logo" src="/images/logo.png" alt="Shortr logo">
        </object>
        <div id="app">
            <div class="request">
                <input type="text" v-model="url" placeholder="🚀 Enter a long url">
                <input type="text" v-model="name" placeholder="💭 Type a name or leave it random">
                <div class="buttons">
                    <button v-on:click="createURL(url, name)" title="Create an URL" class="primary-color">CREATE</button>
                    <button v-on:click="updateURL(url, name)" title="Update an URL" class="success-color">UPDATE</button>
                    <button v-on:click="deleteURL(name)" title="Delete an URL" class="danger-color">DELETE</button>
                </div>
            </div>
            <div class="response">
                <div v-if="ERROR">
                    <h1 class="title error">{{ERROR.code}}</h1>
                    <h2 class="subtitle error">{{ERROR.message}}</h2>
                </div>
                <div class="sucess" v-else-if="URL">
                    <a v-bind:href="'/'+URL.name"><h1 class="title">{{URL.name | trim}}</h1></a>
                    <h2 class="subtitle clickable" v-bind:title="URL.url" v-on:click="copyToClipboard(URL.url, $event.target)">{{URL.url | trim}}</h2>
                    <ul style="width: 100%;">
                        <li><span class="text">👉 Hits</span><span class="text">{{URL.hits}}</span></li>
                        <li><span class="text">🕒 Last hit</span><span class="text">{{URL.last_hit_at ? $options.filters.formatDate(URL.last_hit_at) : "Never"}}</span></li>
                        <li><span class="text">🕒 Created</span><span class="text">{{URL.created_at | formatDate}}</span></li>
                        <li><span class="text">🕒 Modified</span><span class="text">{{URL.modified_at | formatDate}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>