<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="192x192">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Not found | Shortr</title>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Site not found 🤔">
    <meta name="twitter:description" content="Shortr ~ Short it! 🚀">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
    <!-- Open Graph -->
    <meta property="og:type" content="summary">
    <meta property="og:site_name" content="Shortr">
    <meta property="og:title" content="Site not found 🤔">
    <meta property="og:description" content="Shortr ~ Short it! 🚀">
    <meta property="og:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
</head>
<body>
    404 NOT FOUND 
</body>
</html>