<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="192x192">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Server error | Shortr</title>
    <meta name="description" content="Short urls in seconds! 🚀">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Server error 💥">
    <meta name="twitter:description" content="Shortr ~ Short it! 🚀">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
    <!-- Open Graph -->
    <meta property="og:type" content="summary">
    <meta property="og:site_name" content="Shortr">
    <meta property="og:title" content="Server error 💥">
    <meta property="og:description" content="Shortr ~ Short it! 🚀">
    <meta property="og:image" content="https://raw.githubusercontent.com/Neoxelox/shortr/master/static/images/banner.png">
</head>
<body class="background center">
    <div class="container no-expand">
        <object class="logo" data="/images/loading-logo.svg" type="image/svg+xml" alt="Shortr logo">
            <img class="logo" src="/images/logo.png" alt="Shortr logo">
        </object>
        <h1 class="title">500</h1>
        <h2 class="subtitle">SERVER ERROR</h2>
    </div>
</body>
</html>