<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="864x864">
    <title>Shortr</title>
</head>
<body>
    <ul>
        <li>ID: {{.ID}}</li>
        <li>Name: {{.Name}}</li>
        <li>URL: {{.URL}}</li>
        <li>Hits: {{.Hits}}</li>
        <li>Last hit at: {{.LastHitAt}}</li>
        <li>Created at: {{.CreatedAt}}</li>
        <li>Modified at: {{.ModifiedAt}}</li>
    </ul>    
</body>
</html>