<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="192x192">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{.Scope.Name}} | Shortr</title>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{.AppScheme}}://{{.AppHost}}/{{.Scope.Name}}">
    <meta name="twitter:title" content="📊 Real time stats for /{{.Scope.Name}}">
    <meta name="twitter:description" content="🔄 Hits: {{.Scope.Hits}} | 🕒 Last hit at: {{.Scope.LastHitAt}}">
    <meta name="twitter:image" content="{{.AppScheme}}://{{.AppHost}}/images/banner.png">
    <!-- Open Graph -->
    <meta property="og:type" content="summary">
    <meta property="og:url" content="{{.AppScheme}}://{{.AppHost}}/{{.Scope.Name}}">
    <meta property="og:site_name" content="Shortr">
    <meta property="og:title" content="📊 Real time stats for /{{.Scope.Name}}">
    <meta property="og:description" content="🔄 Hits: {{.Scope.Hits}} | 🕒 Last hit at: {{.Scope.LastHitAt}}">
    <meta property="og:image" content="{{.AppScheme}}://{{.AppHost}}/images/banner.png">
</head>
<body class="background center">
    <div class="container">
        <object class="logo" data="/images/loading-logo.svg" type="image/svg+xml" alt="Shortr logo">
            <img class="logo" src="/images/logo.png" alt="Shortr logo">
        </object>
        <a href="/{{.Scope.Name}}"><h1 class="title">{{.Scope.Name}}</h1></a>
        <h2 class="subtitle" title="{{.Scope.URL}}">{{if lt (len .Scope.URL) 20}} {{.Scope.URL}} {{else}} {{printf "%.20s..." .Scope.URL}} {{end}}</h2>
        <ul>
            <li><span class="text">Hits</span><span class="text">{{.Scope.Hits}}</span></li>
            <li><span class="text">Last hit at</span><span class="text">{{if .Scope.LastHitAt}} {{.Scope.LastHitAt.Format "Mon, 02 Jan 2006 15:04"}} {{else}} Never {{end}}</span></li>
            <li><span class="text">Created at</span><span class="text">{{.Scope.CreatedAt.Format "Mon, 02 Jan 2006 15:04"}}</span></li>
            <li><span class="text">Modified at</span><span class="text">{{.Scope.ModifiedAt.Format "Mon, 02 Jan 2006 15:04"}}</span></li>
        </ul>
    </div>
</body>
</html>