// Variables
$primary-font-color: #0d0925;
$secondary-font-color: #4e4a67;
$danger-font-color: #D32F2F;
$success-font-color: #5eac61;
$primary-back-color: #f5f5f5;
$primay-background-color: #21D4FD;
$primary-background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

$primary-font: 'Fira Sans', sans-serif, Helvetica, Arial;
$screen-mobile-max: 500px;

// Mobile breakpoint
@mixin mobile {
    @media (max-width: #{$screen-mobile-max}) {
        @content;
    }
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $primary-font;
    color: $primary-font-color;
    text-align: center;
    text-decoration: none;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    min-height: 100vh;
}

.background {
    background-color: $primay-background-color;
    background-image: $primary-background-image;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: $primary-back-color;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 25px;
    max-width: auto;
    max-height: auto;
    padding: 40px 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
        animation: expand-container 1.5s ease forwards 1.5s;

        &.no-expand {
            animation: none;
        }
    
        &.expanded {
            animation: none;
            border-radius: 0px;
        }
    }

    @keyframes expand-container {
        to {
            border-radius: 0px;
        }
    }

    .logo {
        width: 143px;
        height: 162px;
    }

    a h1:hover {
        color: #B721FF;
        transition: color 0.25s; 
    }

    .title {
        margin-top: 0px;
        font-size: 0px;
        font-weight: 700;
        color: $primary-font-color;
        animation: expand-title 1.5s ease forwards 1.5s;

        &.error {
            color: $danger-font-color;
        }
    }

    @keyframes expand-title {
        to {
            margin-top: 20px;
            font-size: 48px;
        }
    }

    .subtitle {
        font-size: 0px;
        font-weight: 400;
        color: $secondary-font-color;
        animation: expand-subtitle 1.5s ease forwards 1.5s;

        &.error {
            color: lighten($color: $danger-font-color, $amount: 5);
        }

        &.clickable {
            cursor: pointer;

            &:hover {
                color: lighten($color: #B721FF, $amount: 10);
                transition: color 0.25s; 
            }
        }
    }

    @keyframes expand-subtitle {
        to {
            font-size: 32px;
        }
    }

    ul {
        margin-top: 0px;
        text-decoration: none;
        text-emphasis: none;
        list-style-type: none;
        display: flex;
        flex-flow: column;
        width: 120%;
        animation: expand-ul 1.5s ease forwards 1.5s;

        li {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            
            span:first-child {
                color: $primary-font-color;
            }
        }
    }

    @keyframes expand-ul {
        to {
            margin-top: 25px;
        }
    }

    .text {
        font-size: 0px;
        font-weight: 400;
        color: $secondary-font-color;
        animation: expand-text 1.5s ease forwards 1.5s;
    }

    @keyframes expand-text {
        to {
            font-size: 16px;
        }
    }

    input {
        cursor: text;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #B721FF;
        background-color: $primary-back-color;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }

    button {
        cursor: pointer;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: $primary-back-color;
        background-color: #B721FF;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        outline: none;
        user-select: none;

        &:active {
            outline: none;
            user-select: none;
        }

        &:focus {
            outline: none;
            user-select: none;
        }
    }

    .primary-color {
        background-color: #B721FF;

        &:hover {
            background-color: lighten($color: #B721FF, $amount: 32.5);
            color: #B721FF;
            transition: background-color 0.25s, color 0.25s; 
        }
    }

    .success-color {
        background-color: $success-font-color;

        &:hover {
            background-color: lighten($color: $success-font-color, $amount: 27.5);
            color: $success-font-color;
            transition: background-color 0.25s, color 0.25s; 
        }
    }

    .danger-color {
        background-color: $danger-font-color;

        &:hover {
            background-color: lighten($color: $danger-font-color, $amount: 35);
            color: $danger-font-color;
            transition: background-color 0.25s, color 0.25s; 
        }
    }

    .request {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

        input:first-child {
            margin-bottom: 10px;
        }

        input:nth-child(2) {
            margin-bottom: 25px;
        }

        .buttons {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            button:first-child {
                margin-right: 10px;
            }

            button:last-child {
                margin-left: 10px;
            }
        }
    }
}
