@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", sans-serif, Helvetica, Arial;
  color: #0d0925;
  text-align: center;
  text-decoration: none;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  min-height: 100vh;
}

.background {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 25px;
  max-width: auto;
  max-height: auto;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.container .logo {
  width: 143px;
  height: 162px;
}

.container a h1:hover {
  color: #B721FF;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.container .title {
  margin-top: 0px;
  font-size: 0px;
  font-weight: 700;
  color: #0d0925;
  -webkit-animation: expand-title 1.5s ease forwards 1.5s;
          animation: expand-title 1.5s ease forwards 1.5s;
}

.container .title.error {
  color: #D32F2F;
}

@-webkit-keyframes expand-title {
  to {
    margin-top: 20px;
    font-size: 48px;
  }
}

@keyframes expand-title {
  to {
    margin-top: 20px;
    font-size: 48px;
  }
}

.container .subtitle {
  font-size: 0px;
  font-weight: 400;
  color: #4e4a67;
  -webkit-animation: expand-subtitle 1.5s ease forwards 1.5s;
          animation: expand-subtitle 1.5s ease forwards 1.5s;
}

.container .subtitle.error {
  color: #d74444;
}

@-webkit-keyframes expand-subtitle {
  to {
    font-size: 32px;
  }
}

@keyframes expand-subtitle {
  to {
    font-size: 32px;
  }
}

.container ul {
  margin-top: 0px;
  text-decoration: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 120%;
  -webkit-animation: expand-ul 1.5s ease forwards 1.5s;
          animation: expand-ul 1.5s ease forwards 1.5s;
}

.container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container ul li span:first-child {
  color: #0d0925;
}

@-webkit-keyframes expand-ul {
  to {
    margin-top: 25px;
  }
}

@keyframes expand-ul {
  to {
    margin-top: 25px;
  }
}

.container .text {
  font-size: 0px;
  font-weight: 400;
  color: #4e4a67;
  -webkit-animation: expand-text 1.5s ease forwards 1.5s;
          animation: expand-text 1.5s ease forwards 1.5s;
}

@-webkit-keyframes expand-text {
  to {
    font-size: 16px;
  }
}

@keyframes expand-text {
  to {
    font-size: 16px;
  }
}

.container input {
  cursor: text;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #B721FF;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.container button {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #f5f5f5;
  background-color: #B721FF;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.container .primary-color {
  background-color: #B721FF;
}

.container .primary-color:hover {
  background-color: #f1d4ff;
  color: #B721FF;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.container .success-color {
  background-color: #5eac61;
}

.container .success-color:hover {
  background-color: #c3e0c4;
  color: #5eac61;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.container .danger-color {
  background-color: #D32F2F;
}

.container .danger-color:hover {
  background-color: #f2c2c2;
  color: #D32F2F;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.container .request {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .request input:first-child {
  margin-bottom: 10px;
}

.container .request input:nth-child(2) {
  margin-bottom: 25px;
}

.container .request .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .request .buttons button:first-child {
  margin-right: 10px;
}

.container .request .buttons button:last-child {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */